@keyframes move-tape {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-tape {
  animation: move-tape 900s linear infinite;
  transition: animation-play-state 0.3s ease; /* Add transition */
}

.pause-tape-animation {
  animation-play-state: paused;
  transition: animation-play-state 0.3s ease; /* Add transition */
}
